.card {
    height: 100%;
    width: 100%;
  }

.decklistAmount {
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:10;
    padding:10px 15px;
    border-radius:50%;
    background:#283C7E;
    border-color: #CD8F00;
    border-style: solid;
    color:white;
    font-size:1.5em;
    pointer-events:none; 
}

#deckTable {
    align-content: flex-start;
    padding-top: 39px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

#deckTable div {
    position: relative;
    height: 150px;
    width: 100px;
    margin: 1px;
  }